@media (min-width: 724px) and (max-width: 1140px) {

  /*
   * CONTACTS -> HEADER
   */

  #contacts-header {

    .section-wrapper {

      h1 {
        width: 56%;
        min-width: 440px;
        font-size: 36px;
        margin: 100px 70px 20px auto;
      }

      p {
        width: 56%;
        min-width: 440px;
        font-size: 20px;
        font-weight: 400;
        margin: 0 70px 36px auto;
      }
    }
  }

  /*
   * CONTACTS -> MAIN
   */

  #contacts-main {
    background-color: #fafafa;
    padding-top: 0;

    .section-wrapper {

      header {
        width: 724px;
        margin: 0 auto;
        background-position: left 55px top;

        p {
          width: 420px;
          line-height: 26px;
          margin: 0 0 0 270px;
          padding-top: 49px;
        }
      }

      .contacts-main-block {
        width: 724px;
        margin: 0 auto;

        .contacts-message {
          display: block;
          width: 100%;
          float: none;

          h1 {
            margin: 0 auto 20px;
          }

          form {

            input {
              width: 265px;
            }
          }
        }

        .contacts-info {
          width: 724px;
          float: none;
          margin: 0 auto;

          .contacts-phones {
            width: 50%;
            float: left;
            margin: 0;
          }

          .contacts-call {
            width: 50%;
            float: right;
            margin: 0;

            h2 {
              margin-top: 30px;
            }

            .contacts-info-hr {
              margin-top: 85px;
            }
          }

          .contacts-mail-fb {
            width: 100%;
            overflow: hidden;

            .contacts-mail {
              width: 50%;
              float: left;
              margin: 0;
            }

            .contacts-fb {
              width: 50%;
              float: right;
              margin: 0;
            }
          }
        }
      }

      h1 {
        width: 540px;
        font-size: 34px;
        margin: 120px auto 40px;
      }
    }
  }
}