/*
 * HOME -> HEADER
 */

header#main-header {
  width: 100%;
  height: 640px;
  background-color: transparent;
  overflow: hidden;
  z-index: 3;
  position: relative;

  #video-background {
    background: #333333;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;

    video {
      position: absolute;
      left: 50%;
      top: 50%;
      /* The following will size the video to fit the full container. Not necessary, just nice.*/
      min-width: 100%;
      min-height: 100%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      background-size: cover;
      opacity: 0.6;
      z-index: -1;
    }
  }

  .section-wrapper {
    background-color: transparent;
    z-index: 3;
    position: relative;

    .header-top-buttons {
      display: block;
      padding-top: 10px;
      float: right;

      button {
        margin: 10px;
      }
    }

    h1 {
      font-family: CenturyGothicRegular;
      color:  #ffffff;
      font-size: 60px;
      font-weight: 400;
      text-align: left;
      text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
      display: block;
      float: left;
      margin: 120px 0 20px;
    }

    h2 {
      display: block;
      float: left;
      font-family: CenturyGothicRegular;
      color:  #ffffff;
      font-size: 22px;
      font-weight: 400;
      text-align: left;
      text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
      margin: 20px 0;
    }

    .header-bottom-buttons {
      float: left;
      margin-top: 35px;

      button {
        font-family: PTSansBold;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
        margin-right: 25px;
      }
    }

    .scroll-down {
      width: 100%;
      height: 60px;
      float: left;

      span{
        display: block;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-image: url('../img/header/arrow.png');
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;
        margin: 60px auto 0;
        -webkit-transition: 0.2s linear;
        transition: 0.2s linear;
      }

      span:hover {
        opacity: 0.7;
      }
    }
  }
}

/*
 * HOME -> SPEAKS
 */

#speaks {
  background-color: $light_grey;
  overflow: hidden;
  padding: 0;

  .section-wrapper {
    overflow: hidden;

    .speaks {
      width: $lg_width;
      height: 100px;
      background-color: $light_grey;
      overflow: hidden;

      h1 {
        display: inline-block;
        float: left;
        font-family: CenturyGothicRegular;
        color:  #878787;
        font-size: 28px;
        line-height: 100px;
        font-weight: 400;
        text-align: left;
        margin: 0 50px 0 0;
      }

      > div {
        display: inline-block;
        float: right;
        height: 100px;

        a {
          display: inline-block;
          float: left;
          text-decoration: none;
          margin: 0 18px;
          -webkit-transition: background-image 0.4s ease-in-out;
          transition: background-image 0.4s ease-in-out;
        }

        #ubc {
          width: 153px;
          height: 57px;
          background-image: url('../img/home/speaks/UBC.png');
          background-repeat: no-repeat;
          background-position: center center;
          margin-top: 23px;
        }

        #ubc:hover {
          background-image: url('../img/home/speaks/UBC-hover.png');
        }

        #ubr {
          width: 120px;
          height: 45px;
          background-image: url('../img/home/speaks/UBR.png');
          background-repeat: no-repeat;
          background-position: center center;
          margin-top: 27px;
        }

        #ubr:hover {
          background-image: url('../img/home/speaks/UBR-hover.png');
        }

        #business {
          width: 68px;
          height: 68px;
          background-image: url('../img/home/speaks/BUSINESS.png');
          background-repeat: no-repeat;
          background-position: center center;
          margin-top: 17px;
        }

        #business:hover {
          background-image: url('../img/home/speaks/BUSINESS-hover.png');
        }

        #pershyi {
          width: 100px;
          height: 33px;
          background-image: url('../img/home/speaks/pershyi.png');
          background-repeat: no-repeat;
          background-position: center center;
          margin-top: 31px;
        }

        #pershyi:hover {
          background-image: url('../img/home/speaks/pershyi-hover.png');
        }
      }

    }
  }
}

/*
 * HOME -> SHORT VIDEO
 */

#short-video {
  background-color: white;
  overflow: hidden;

  .section-wrapper {
    width: $lg_width;
    box-sizing: border-box;
    height: 580px;
    padding-top: 110px;
    overflow: hidden;

    .short-video-desc {
      width: 520px;
      display: inline-block;
      float: left;
      margin: 0 30px 0 0;
      position: relative;

      p {
        display: block;
        font-family: CenturyGothicRegular;
        color:  #242424;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        margin-top: 50px;
      }

      .find-out {
        width: 225px;
        height: 60px;
        background-image: url('../img/home/short-video/find-out.png');
        background-repeat: no-repeat;
        background-position: right center;
        margin-left: 300px;
        position: absolute;
        bottom: -180px;
      }
    }

    button {
      display: block;
      font-family: PTSansBold;
      color:  #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
      margin: 25px 0;
      float: left;
    }

    .video-block {
      display: inline-block;
      float: right;
      background-color: $dark_grey;
      width: 560px;
      height: 315px;
      margin-left: 30px;
    }
  }
}

/*
 * HOME -> EVENTS
 */

#events {
  background-color: $light_grey;
  height: 640px;
  box-sizing: border-box;
  padding: 80px 0 70px 0;
  overflow: hidden;

  .section-wrapper {
    background-color: $light_grey;
    overflow: hidden;

    h1 {
      line-height: 32px;
      text-align: center;
    }

    .events {
      height: 396px;
      display: block;
      margin-top: 70px;

      .event {
        display: inline-block;
        border-radius: 5px;
        border: 1px solid #d7d7d7;
        box-sizing: border-box;
        background-color:  white;
        width: 267px;
        border-bottom: 3px solid $grey;
        margin-left: 19px;

        img {
          display: block;
          width: 265px;
          height: 140px;
          margin: 0 0 20px 0;
        }

        .muted {
          display: block;
          font-family: PTSansRegular;
          color:  #898989;
          font-size: 14px;
          text-align: left;
          margin: 15px;
        }

        .event-title {
          display: block;
          font-family: PTSansBold;
          color:  $blue;
          font-size: 20px;
          font-weight: 700;
          text-align: left;
          margin: 15px 15px 8px;
        }

        p {
          font-size: 16px;
          margin: 8px 15px 20px;
        }

        button {
          border-radius: 3px;
          background-color:  $blue;
          font-family: PTSansRegular;
          color:  #fffefe;
          font-size: 16px;
          font-weight: 400;
          text-align: center;
          padding: 9px 16px 11px;
          margin: 0 15px 20px;
          -webkit-transition: 0.3s linear;
          transition: 0.3s linear;
        }

        button:hover {
          opacity: 0.7;
        }
      }

      .event:first-child {
        margin-left: 0;
      }
    }
  }
}

/*
 * HOME -> ABOUT US
 */

#about-us {
  background-color: white;
  box-sizing: border-box;
  padding: 100px 0;

  .section-wrapper {

    .title {
      display: block;
      font-family: CenturyGothicRegular;
      color:  $text_color;
      font-size: 38px;
      font-weight: 400;
      margin: 0 auto 85px;
      text-align: center;
    }

    .about-us-infographics {
      display: block;
      width: 1140px;
      height: 1540px;
      background-image: url('../img/home/about-us/Infographics_1140.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      margin: 0 auto;
    }

    .about-us-mobile {
      display: none;
    }
  }
}

/*
 * HOME -> REASONS
 */

#reasons {
  padding: 0 0 100px;

  header {
    height: 310px;
    background-image: url('../img/home/reasons/reasons-header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;

    p {
      display: block;
      width: 915px;
      font-family: CenturyGothicRegular;
      color:  #ffffff;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
      margin: 20px auto;
    }

    p:first-child {
      margin-top: 80px;
    }
  }

  .section-wrapper {

    .reasons-element {
      display: inline-block;
      width: 324px;
      margin: 40px 40px 0;
      float: left;

      img {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }

      h1 {
        font-family: PTSansBold;
        color:  $red;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
      }

      p {
        font-family: PTSansRegular;
        font-size: 18px;
        text-align: center;
      }
    }

    .reasons-element:first-child {
      margin-left: 5px;
    }

    .reasons-element:last-child {
      margin-right: 3px;
    }
  }
}

/*
 * HOME -> WELCOME
 */

#welcome {
  width: 100%;
  height: 761px;
  padding: 0;
  background-image: url('../img/home/welcome/welcome-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;

  header {
    background-color:  $blue;
    width: 1349px;
    padding: 30px 0;
    margin: 70px auto 0;

    .section-wrapper {
      background-color:  $blue;
      width: 870px;
      text-align: center;

      h1 {
        font-size: 38px;
        color:  #ffffff;
      }

      p {
        font-size: 22px;
        color:  #ffffff;
      }
    }
  }

  .section-wrapper {

    h2 {
      font-family: CenturyGothicRegular;
      color:  #ffffff;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      margin: 60px 0;
    }

    .welcome-element {
      width: 280px;
      height: 50px;
      display: inline-block;
      overflow: hidden;
      margin-bottom: 20px;

      span {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        border: none;
        background-color: $blue;
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
        margin-right: 25px;
      }

      p {
        width: 190px;
        height: 50px;
        display: table-cell;
        color:  #ffffff;
        font-size: 20px;
        text-align: left;
        margin: 0;
        vertical-align: middle;
      }
    }

    .icon-sales {
      background-image: url('../img/home/welcome/icons/icon-sales.png');
    }
    .icon-graph {
      background-image: url('../img/home/welcome/icons/icon-graph.png');
    }
    .icon-rocket {
      background-image: url('../img/home/welcome/icons/icon-rocket.png');
    }
    .icon-money {
      background-image: url('../img/home/welcome/icons/icon-money.png');
    }
    .icon-megaphone {
      background-image: url('../img/home/welcome/icons/icon-megaphone.png');
    }
    .icon-magnet {
      background-image: url('../img/home/welcome/icons/icon-magnet.png');
    }
    .icon-microphone {
      background-image: url('../img/home/welcome/icons/icon-microphone.png');
    }
    .icon-list {
      background-image: url('../img/home/welcome/icons/icon-list.png');
    }
  }
}

/*
 * HOME -> BUT
 */

#but {
  width: 100%;
  background-color: $light_grey;
  padding: 60px 0;

  .section-wrapper {
    background-color: $light_grey;

    > h1 {
      text-align: center;
    }

    > h2 {
      display: block;
      width: 831px;
      text-align: center;
      margin: 0 auto;
    }

    > p {
      font-size: 18px;
      display: block;
      width: 800px;
      text-align: center;
      margin: 0 auto;

      b {
        font-family: PTSansBold;
        font-weight: 700;
      }
    }

    .icon-lock {
      display: block;
      width: 64px;
      height: 64px;
      margin: 30px auto;
      background-image: url('../img/home/but/lock.png');
      background-repeat: no-repeat;
      background-position: center center;
    }

    button {
      display: block;
      font-family: PTSansBold;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
      margin: 50px auto 20px;
    }
  }
}

.locked-trainings {
  width: auto;

  .locked-trainings-element {
    display: inline-block;
    width: 364px;
    height: auto;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background-color:  #ffffff;
    border-bottom: 2px solid #d7d7d7;
    margin: 50px 6px 80px;
    position: relative;

    img {
      width: 100%;
      height: 214px;
    }

    .locked {
      width: 100%;
      height: 214px;
      background-color:  rgba(5, 20, 63, 0.32);
      background-image: url('../img/home/but/lock-hover.png');
      background-repeat: no-repeat;
      background-position: center center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: none;
      position: absolute;
      top: 0;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: visibility 0s, opacity 0.2s linear;
      transition: visibility 0s, opacity 0.2s linear;
    }

    p {
      padding: 0 20px;
      margin: 17px 0;

      b {
        text-transform: uppercase;
      }
    }
  }

  .locked-trainings-element:hover {

    .locked {
      visibility: visible;
      opacity: 1;
    }
  }
}

/*
 * HOME -> STUDENTS
 */

#students {

  .section-wrapper {

    h1 {
      display: block;
      width: 1000px;
      margin: 30px auto;
      text-align: center;
    }

    p {
      display: block;
      width: 1000px;
      margin: 10px auto;
      text-align: center;
      font-size: 18px;
    }

    .students-elements {
      width: 1000px;
      height: 300px;
      margin: 55px auto 40px;
      overflow: hidden;

      .students-element {
        display: inline-block;
        width: 250px;
        height: 300px;
        margin: 0;
        padding: 0;
        float: left;
        position: relative;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }

        span {
          width: 250px;
          height: 300px;
          padding-top: 60px;
          box-sizing: border-box;
          background-color: $red;
          position: absolute;
          top: 0;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: visibility 0s, opacity 0.2s linear;
          transition: visibility 0s, opacity 0.2s linear;

          h3 {
            width: 250px;
            font-family: PTSansBold;
            color:  #fffefe;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 15px;
          }

          p {
            width: 250px;
            color:  #fffefe;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            margin: 0 0 20px;
          }

          p.bold {
            font-family: PTSansBold;
            font-weight: 700;
            margin: 0;
          }
        }
      }

      .students-element:hover {

        span {
          visibility: visible;
          opacity: 0.8;
        }
      }
    }

    .btn-transparent {
      display: block;
      color: $red;
      font-size: 20px;
      padding: 20px;
      margin: 0 auto;
      border: 1px solid $red;
    }

    .btn-transparent:hover {
      color: $red_hover;
      border: 1px solid $red_hover;
    }
  }
}

/*
 * HOME -> TEAM
 */

#team {
  background-color:  #2d313d;
  overflow: hidden;

  .section-wrapper {
    background-color:  #2d313d;
    text-align: center;

    h1 {
      color: white;
      margin: 20px 0 40px;
    }

    h2 {
      max-width: 1130px;
      color: white;
    }

    button {
      display: block;
      color:  #242424;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      margin: 0 auto 20px;
    }
  }
}


/*
 * HOME -> STUDY
 */

#study {
  background: $light_grey;

  .section-wrapper {
    background: inherit;

    > button {
      display: block;
      font-family: PTSansRegular;
      color:  #ffffff;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      text-align: left;
      padding: 17px 20px;
      margin: 0 auto;
    }

    .tags {
      width: 100%;
      margin: 75px 20px;

      h2 {
        display: inline-block;
        font-family: PTSansBold;
        color:  #fd4f3f;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        margin: 5px;
      }

      p {
        display: inline-block;
        font-family: PTSansRegular;
        color:  #fffefe;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        text-align: left;
        padding: 8px 9px;
        border-radius: 3px;
        border: none;
        background-color:  #2d313d;
        margin: 5px;
        -webkit-transition: 0.2s linear;
        transition: 0.2s linear;
      }

      p:hover {
        background: $red;
      }
    }
  }
}

.study-elements {
  width: 100%;
  margin: 28px auto;

  .study-element {
    display: inline-block;
    width: 267px;
    height: 360px;
    border: 1px solid #d7d7d7;
    border-bottom: 3px solid #d7d7d7;
    box-sizing: border-box;
    background-color:  #ffffff;
    margin: 12px 7px;

    h1 {
      font-family: PTSansBold;
      font-size: 17px;
      font-weight: 700;
      text-align: left;
      border-bottom: 1px solid #d7d7d7;
      padding: 10px;
      margin: 0;
    }

    img {
      display: block;
      width: 247px;
      height: 137px;
      margin: 10px;
    }

    span {
      width: 21px;
      height: 20px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 3px 5px 3px 10px;
      float: left;
    }

    .icon-tag {
      background-image: url('../img/home/study/tag.png');
    }

    .icon-comment {
      background-image: url('../img/home/study/comment.png');
    }

    p {
      display: inline-block;
      font-family: PTSansRegular;
      color:  #7f7f7f;
      font-size: 17px;
      line-height: 20px;
      text-align: left;
      margin: 3px 5px;
    }

    > button {
      font-family: PTSansRegular;
      color:  #fffefe;
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      text-align: center;
      border-radius: 3px;
      border: none;
      background-color:  $red;
      padding: 9px 19px;
      margin: 10px;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear;
    }

    > button:hover {
      opacity: 0.7;
    }
  }
}

/*
 * HOME -> FOOTER FORM
 */

#footer-form {
  width: 100%;
  background: #3498db;

  .section-wrapper {
    background-color: inherit;

    h1 {
      font-family: CenturyGothicBold;
      color:  #ffffff;
      font-weight: 700;
      text-align: center;
      margin: 5px 0;
    }

    h2 {
      font-family: CenturyGothicRegular;
      color:  #ffffff;
      font-size: 28px;
      text-align: center;
      margin: 5px 0;
    }

    p {
      display: block;
      width: 700px;
      font-family: CenturyGothicBold;
      color:  #ffffff;
      font-size: 22px;
      line-height: 35px;
      font-weight: 700;
      text-align: center;
      margin: 30px auto 40px;
      position: relative;

      .footer-form-arrow {
        display: block;
        width: 55px;
        height: 51px;
        background: url('../img/home/footer-form/arrow.png') no-repeat center center;
        position: absolute;
        bottom: -30px;
        left: -30px;
      }

      span {
        color:  $text-color;
      }
    }

    form {
      width: 875px;
      display: block;
      overflow: hidden;
      margin: 0 auto;

      input {
        float: left;
        margin: 0 12px;
      }

      input[type=submit] {
        font-family: PTSansBold;
        font-weight: 700;
      }
    }
  }
}
