@media (min-width: 724px) and (max-width: 1140px) {

/*
 * HOME -> HEADER
 */

  header#main-header {
    height: auto;

    .section-wrapper {
      width: 100%;

      .header-top-buttons {
        margin-right: 10px;
      }

      h1 {
        font-size: 48px;
        margin: 55px 20px;
      }

      h2 {
        font-size: 20px;
        margin: 0px 20px 55px;
      }

      .header-bottom-buttons {
        width: 100%;
        margin: 0;

        button {
          border-radius: 0;
          display: inline-block;
          width: 50%;
          box-sizing: border-box;
          margin: 0;
        }

        .btn-green {
          float: left;
        }

        .btn-blue {
          float: right;
        }
      }

      .scroll-down {
        display: none;
      }
    }
  }

/*
 * HOME -> SPEAKS
 */

  #speaks {

    .section-wrapper {
      width: 100%;

      .speaks {
        width: 100%;
        height: auto;

        h1 {
          width: 100%;
          display: block;
          float: left;
          font-size: 24px;
          line-height: 80px;
          text-align: center;
          margin: 0;
        }

        > div {
          width: 600px;
          display: block;
          float: none;
          clear: both;
          margin: 0 auto;
          padding-bottom: 20px;
        }
      }
    }
  }

/*
 * HOME -> SHORT VIDEO
 */

  #short-video {
    width: 100%;

    .section-wrapper {
      width: 100%;
      height: auto;
      padding: 60px 0;
      position: relative;

      .short-video-desc {
        width: 100%;
        display: block;
        float: none;
        clear: both;
        margin: 0 20px;

        p {
          display: block;
          font-size: 22px;
          text-align: center;
          margin-top: 0;
        }

        .find-out {
          display: none;
        }
      }

      button {
        display: block;
        margin: 0 auto;
        float: none;
        clear: both;
      }

      .video-block {
        display: block;
        margin: 60px auto;
        float: none;
      }
    }
  }

/*
 * HOME -> EVENTS
 */

  #events {
    width: 100%;
    height: auto;
    padding: 80px 0 70px 0;

    .section-wrapper {
      width: 100%;

      h1 {
        line-height: 32px;
      }

      .events {
        height: 396px;
        display: block;
        margin-top: 70px;

        .event {
          display: inline-block;
          border-radius: 5px;
          border: 1px solid #d7d7d7;
          box-sizing: border-box;
          background-color:  white;
          width: 267px;
          border-bottom: 3px solid $grey;
          margin-left: 19px;

          img {
            display: block;
            width: 265px;
            height: 140px;
            margin: 0 0 20px 0;
          }

          .muted {
            display: block;
            font-family: PTSansRegular;
            color:  #898989;
            font-size: 14px;
            text-align: left;
            margin: 15px;
          }

          .event-title {
            display: block;
            font-family: PTSansBold;
            color:  $blue;
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            margin: 15px 15px 8px;
          }

          p {
            margin: 8px 15px 20px;
          }

          button {
            border-radius: 3px;
            background-color:  $blue;
            font-family: PTSansRegular;
            color:  #fffefe;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            padding: 9px 16px 11px;
            margin: 0 15px 20px;
          }
        }

        .event:first-child {
          margin-left: 0;
        }
      }
    }
  }

  /*
   * HOME -> ABOUT US
   */

  #about-us {
    width: 100%;
    padding: 60px 0;

    .section-wrapper {
      width: 100%;

      .title {
        font-size: 34px;
        margin: 0 auto 30px;
      }

      .about-us-infographics {
        width: 724px;
        height: 978px;
        background-image: url('../img/home/about-us/infographics_740.jpg');
      }

      .about-us-mobile {
        display: none;
      }
    }
  }

/*
 * HOME -> REASONS
 */

  #reasons {
    padding: 0 0 35px;

    header {
      height: 310px;
      background-size: cover;

      p {
        width: 700px;
        font-size: 20px;
        margin: 10px auto;
      }
    }

    .section-wrapper {

      .reasons-element {
        width: 600px;
        display: block;
        float: none;
        margin: 20px auto !important;
      }
    }
  }

/*
 * HOME -> WELCOME
 */

  #welcome {
    width: 100%;
    height: auto;
    padding: 0;
    background-size: cover;

    header {
      width: 100%;
      padding: 20px 0 40px;
      margin: 70px auto 0;

      .section-wrapper {
        width: 100%;
        text-align: center;

        h1 {
          display: block;
          width: 720px;
          font-size: 34px;
          margin: 40px auto;
        }

        p {
          display: block;
          width: 700px;
          font-size: 20px;
          margin: 10px auto;
        }
      }
    }

    .section-wrapper {

      .welcome-elements {
        width: 550px;
        overflow: hidden;
        margin: 0 auto 70px;

        .welcome-element {
          width: 50%;
          margin-bottom: 20px;
          float: left;
        }
      }
    }
  }

/*
 * HOME -> BUT
 */

  #but {
    width: 100%;
    padding: 60px 0;

    .section-wrapper {

      > h1 {
        font-size: 34px;
        margin-top: 0;
      }

      > h2 {
        font-size: 22px;
        width: 650px;
      }

      > p {
        font-size: 18px;
        width: 700px;

        b {
          font-family: PTSansBold;
          font-weight: 700;
        }
      }

      .but-elements {
        width: 724px;
        margin: 0 auto;

        .but-element {
          width: 228px;
          margin: 35px 5px 50px;

          img {
            width: 100%;
            height: 135px;
          }

          .locked {
            height: 135px;
            background-image: url('../img/home/but/lock-hover.png');
          }

          p {
            font-size: 14px;
            padding: 0 13px;
            margin: 15px 0;
          }
        }
      }
    }
  }

/*
 * HOME -> STUDENTS
 */

  #students {

    .section-wrapper {

      h1 {
        width: 700px;
        font-size: 34px;
        margin: 30px auto;
      }

      p {
        width: 700px;
        margin: 10px auto;
      }

      .students-elements {
        width: 724px;
        height: 217px;
        margin: 30px auto;

        .students-element {
          width: 181px;
          height: 217px;

          span {
            width: 181px;
            height: 217px;
            padding: 20px 10px 0;

            h3 {
              width: 161px;
              font-size: 16px;
              margin-bottom: 15px;
            }

            p {
              width: 161px;
              font-size: 14px;
              margin: 0 0 20px;
            }
          }
        }
      }
    }
  }

/*
 * HOME -> TEAM
 */

  #team {
    background-color:  #2d313d;
    overflow: hidden;

    .section-wrapper {
      background-color:  #2d313d;
      text-align: center;

      h1 {
        font-size: 34px;
        margin: 20px 20px 40px;
      }

      h2 {
        font-size: 20px;
        margin: 20px;
      }
    }
  }


  /*
   * HOME -> STUDY
   */

  #study {

    .section-wrapper {

      .title {
        font-size: 34px;
      }

      .study-elements {
        width: 100%;
        margin: 40px auto;

        .study-element {
          display: inline-block;
          margin: 0 7px;
        }
      }

      .tags {
        width: 95%;
        margin: 60px auto 20px;
      }
    }
  }

  /*
   * HOME -> FOOTER FORM
   */

  #footer-form {

    .section-wrapper {

      h1 {
        font-size: 34px;
        margin: 10px 0;
      }

      h2 {
        font-size: 22px;
        margin: 10px 0;
      }

      p {
        font-size: 20px;
        line-height: 30px;
        margin: 50px auto 40px;

        .footer-form-arrow {
          display: none;
        }
      }

      form {
        width: 744px;
        margin: 0 auto;

        input {
          width: 228px;
          float: left;
          margin: 0 10px;
        }
      }
    }
  }
}