@media (max-width: 724px) {

  /*
 * HOME -> HEADER
 */

  header#main-header {
    height: auto;

    .section-wrapper {
      width: 100%;

      .header-top-buttons {
        margin: 0 15px;
        display: block;
        float: none;
        clear: both;
        text-align: center;
      }

      h1 {
        width: 100%;
        font-size: 25px;
        margin: 55px 15px;
        text-align: center;
      }

      h2 {
        width: 100%;
        font-size: 16px;
        margin: 0px 15px 55px;
        text-align: center;
      }

      .header-bottom-buttons {
        width: 100%;
        margin: 0;

        button {
          border-radius: 0;
          display: block;
          width: 100%;
          box-sizing: border-box;
          margin: 0;
        }

        .btn-green {
          float: none;
        }

        .btn-blue {
          float: none;
        }
      }

      .scroll-down {
        display: none;
      }
    }
  }

  /*
 * HOME -> SPEAKS
 */

  #speaks {

    .section-wrapper {
      width: 100%;

      .speaks {
        width: 100%;
        height: auto;

        h1 {
          width: 100%;
          display: block;
          float: left;
          font-size: 20px;
          line-height: 80px;
          text-align: center;
          margin: 0;
        }

        > div {
          width: 400px;
          height: auto;
          display: block;
          float: none;
          clear: both;
          margin: 0 auto;
          padding-bottom: 20px;

          a {
            margin: 10px;
          }

          #ubc {
            float: left;
          }

          #ubr {
            float: right;
          }

          #business {
            float: left;
            clear: both;
          }

          #pershyi {
            float: right;
          }
        }
      }
    }
  }

  /*
 * HOME -> SHORT VIDEO
 */

  #short-video {
    width: 100%;

    .section-wrapper {
      width: 100%;
      height: auto;
      padding: 40px 0;
      position: relative;

      .short-video-desc {
        width: 100%;
        display: block;
        float: none;
        clear: both;
        margin: 0 20px;

        p {
          display: block;
          font-size: 18px;
          text-align: center;
          margin-top: 0;
        }

        .find-out {
          display: none;
        }
      }

      button {
        width: 90%;
        display: block;
        margin: 0 auto;
        float: none;
        clear: both;
      }

      .video-block {
        max-width: 560px;
        width: 100%;
        display: block;
        margin: 60px auto;
        float: none;
      }
    }
  }

  /*
 * HOME -> EVENTS
 */

  #events {
    width: 100%;
    height: auto;
    padding: 40px 0;

    .section-wrapper {
      width: 100%;

      h1 {
        width: 100%;
        font-size: 24px;
        line-height: normal;
        text-align: center;
      }

      .events {
        height: auto;
        display: block;
        margin-top: 70px;

        .event {
          display: block;
          border-radius: 5px;
          border: 1px solid #d7d7d7;
          box-sizing: border-box;
          background-color:  white;
          width: 267px;
          border-bottom: 3px solid $grey;
          margin: 20px auto;

          img {
            display: block;
            width: 265px;
            height: 140px;
            margin: 0 0 20px 0;
          }

          .muted {
            display: block;
            font-family: PTSansRegular;
            color:  #898989;
            font-size: 14px;
            text-align: left;
            margin: 15px;
          }

          .event-title {
            display: block;
            font-family: PTSansBold;
            color:  $blue;
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            margin: 15px 15px 8px;
          }

          p {
            margin: 8px 15px 20px;
          }

          button {
            border-radius: 3px;
            background-color:  $blue;
            font-family: PTSansRegular;
            color:  #fffefe;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            padding: 9px 16px 11px;
            margin: 0 15px 20px;
          }
        }

        .event:first-child {
          margin-left: auto;
        }
      }
    }
  }

  /*
   * HOME -> ABOUT US
   */

  #about-us {
    width: 100%;
    padding: 40px 0;

    .section-wrapper {
      width: 100%;

      .title {
        font-size: 24px;
        margin: 0 auto 30px;
      }

      .about-us-infographics {
        display: none;
      }

      .about-us-mobile {
        display: block;

        //text

        .about-us-element {
          width: 280px;
          padding: 0 10px;
          margin: 10px auto;

          h1 {
            display: inline-block;
            max-width: 220px;
            font-family: PTSansBold;
            font-size: 18px;
            margin: 5px 0 5px 10px;

            b {
              font-family: PTSansRegular;
              color: $text-color;
              font-size: 38px;
              font-weight: 400;
            }
          }

          p {
            display: block;
            max-width: 280px;
            font-size: 18px;
            margin: 0;
            padding: 5px 0 5px 52px;
          }
        }

        .horizontal-line {
          width: 260px;
        }

        #about-us-scope {
          width: 100%;
          position: relative;

          .laptop {
            width: 293px;
            height: 178px;
            background-image: url('../img/home/about-us/laptop.png');
            background-repeat: no-repeat;
            background-position: center center;
            margin: 40px auto;
          }

          .vertical-line {
            height: 54px;
            top: 230px;
            left: 50%;
          }

          .dot {
            top: 230px;
            left: 49.6%;
          }
        }

        #about-us-map {
          width: 100%;
          height: auto;

          .map {
            width: 300px;
            height: 148px;
            background-image: url('../img/home/about-us/world-map.png');
            background-repeat: no-repeat;
            background-position: center center;
            margin: 40px auto 0px;
          }
        }

        #about-us-results {
          width: 100%;
          position: relative;
          margin: 40px 0 20px;

          .results-graph {
            width: 152px;
            height: 151px;
            background-image: url('../img/home/about-us/graph-top.png');
            background-repeat: no-repeat;
            background-position: center center;
            margin: 30px auto;
          }

          .results-man {
            width: 248px;
            height: 248px;
            background-image: url('../img/home/about-us/man.png');
            background-repeat: no-repeat;
            background-position: center center;
            margin: 15px auto 30px;
          }
        }

        #about-us-facts {
          width: 100%;
          position: relative;
          margin: 40px 0 20px;

          .facts-brain {
            width: 300px;
            height: 226px;
            background-image: url('../img/home/about-us/brain.png');
            background-repeat: no-repeat;
            background-position: center center;
            margin: 30px auto;
          }

          .facts-people {
            width: 170px;
            height: 116px;
            background-image: url('../img/home/about-us/people.png');
            background-repeat: no-repeat;
            background-position: center center;
            margin: 30px auto;
          }

          .facts-graph {
            width: 62px;
            height: 240px;
            background-image: url('../img/home/about-us/graph-bottom.png');
            background-repeat: no-repeat;
            background-position: center center;
            margin: 30px auto;
          }
        }
      }
    }
  }

  // lines

  .dot {
    display: block;
    background-color:  $border_grey;
    width: 7px;
    height: 7px;
    border: none;
    border-radius: 50%;
    position: absolute;
  }

  .vertical-line {
    width: 1px;
    display: block;
    background-color:  $border_grey;
    position: absolute;
  }

  .horizontal-line {
    height: 1px;
    display: block;
    background-color:  $border_grey;
    position: absolute;
  }

  .about-us-subtitle {
    background-color:  #4c4c4c;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: PTSansBold;
    color:  #ffffff;
    font-size: 24px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0 ;
  }

  // icons

  .icon {
    width: 40px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .icon-map {
    background-image: url('../img/home/about-us/icons/icon-map.png');
  }

  .icon-laptop {
    background-image: url('../img/home/about-us/icons/icon-laptop.png');
  }

  .icon-study {
    background-image: url('../img/home/about-us/icons/icon-study.png');
  }

  .icon-crowd {
    background-image: url('../img/home/about-us/icons/icon-crowd.png');
  }

  .icon-working-laptop {
    background-image: url('../img/home/about-us/icons/icon-working-laptop.png');
  }

  .icon-dollar {
    background-image: url('../img/home/about-us/icons/icon-dollar.png');
  }

  .icon-time-dollar {
    background-image: url('../img/home/about-us/icons/icon-time-dollar.png');
  }

  .icon-medal {
    background-image: url('../img/home/about-us/icons/icon-medal.png');
  }

  .icon-brains {
    background-image: url('../img/home/about-us/icons/icon-brains.png');
  }

  .icon-briefcase {
    background-image: url('../img/home/about-us/icons/icon-briefcase.png');
  }

  .icon-bike {
    background-image: url('../img/home/about-us/icons/icon-bike.png');
  }

  .icon-glasses {
    background-image: url('../img/home/about-us/icons/icon-glasses.png');
  }

  .icon-man {
    background-image: url('../img/home/about-us/icons/icon-man.png');
  }

}