@media (min-width: 724px) and (max-width: 1140px) {

/*
 * SUCCESS -> HEADER
 */

  #success-header {

    .section-wrapper {

      h1 {
        width: 90%;
        margin: 90px auto 25px;
      }

      p {
        width: 90%;
        margin: 15px auto;

        b {
          font-size: 28px;
        }
      }

      .success-header-graph {
        width: 700px;
        height: 230px;
        background-size: 620px 175px;
        margin: 0px auto 20px;

        .year {
          width: 47px;
          font-size: 15px;
        }

        .year-2012 {
          left: 25px;
          bottom: 35px;
        }
        .year-2013 {
          left: 180px;
          bottom: 35px;
        }
        .year-2014 {
          left: 330px;
          bottom: 35px;
        }
        .year-2015 {
          left: 475px;
          bottom: 35px;
        }
        .year-2016 {
          left: 637px;
          bottom: 35px;
        }

        .number {
          font-size: 21px;

          span {
            font-size: 15px;
          }
        }

        .number-2012 {
          width: 15px;
          left: 38px;
          bottom: 60px;
        }
        .number-2013 {
          width: 65px;
          left: 175px;
          bottom: 68px;
        }
        .number-2014 {
          width: 90px;
          left: 311px;
          bottom: 88px;
        }
        .number-2016 {
          width: 140px;
          font-size: 28px;
          left: 584px;
          bottom: 200px;

          span {
            font-size: 18px;
          }
        }

        .title-2012 {
          width: 70px;
          font-size: 18px;
          left: 11px;
          bottom: 85px;
        }
      }
    }
  }

  /*
   * SUCCESS -> MAIN
   */

  #success-stories-main {
    background-color: $light_grey;

    .section-wrapper {

      > h1 {
        font-size: 34px;
        margin: 20px auto;
      }

      .top-students {
        width: 744px;
        margin: 40px auto 30px;

        .success-story {
          margin: 20px 5px;
        }
      }

      .popular-spheres {
        width: 596px;
        margin: 30px auto;
      }

      .more {
        margin: 10px auto 60px;
      }
    }
  }

  .grid-item { width: 246px; }

}