$text_color:  #363636;
$dark_grey:  rgba(9, 14, 25, 1);
$grey: #cecece;
$light_grey: #f3f3f3;
$border_grey: #4c4c4c;
$green: #2ecc71;
$dark_green: #229955;
$blue: #3498db;
$dark_blue: #2772a4;
$orange: #f7941d;

$lg_width: 1140px;
$md_width: 724px;
$sm_width: 320px;