$text_color:  #363636;
$dark_grey:  #181c27;
$grey: #cecece;
$light_grey: #f3f3f3;
$border_grey: #4c4c4c;
$green: #2ecc71;
$green_hover: #51D88C;
$dark_green: #229955;
$dark_green_hover: #0AC25A;
$blue: #3498db;
$blue_hover: #58ACE3;
$dark_blue: #2772a4;
$dark_blue_hover: #0F85D1;
$orange: #f7941d;
$red: #fd4f3f;

$lg_width: 1140px;
$md_width: 724px;
$sm_width: 320px;