@import 'fonts';
@import 'variables';
@import 'sliders';
@import 'header';
@import 'header-md';
@import 'header-sm';
@import 'footer';
@import 'footer-md';
@import 'footer-sm';
@import 'home';
@import 'home-md';
@import 'home-sm';
@import 'lab';
@import 'lab-md';
@import 'lab-sm';
@import 'about-us';
@import 'about-us-md';
@import 'about-us-sm';


body {
  width: 100%;
  margin: 0;
  font-family: PTSansRegular;
}

p {
  font-family: PTSansRegular;
  color: $text_color;
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

a:hover {
  color: $blue;
}

h1 {
  font-family: CenturyGothicRegular;
  color:  $text_color;
  font-size: 38px;
  font-weight: 400;
}

h2 {
  font-family: CenturyGothicRegular;
  color:  $text_color;
  font-size: 24px;
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
}

button {
  font-family: PTSansRegular;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 18px 20px 13px;
}

section {
  padding: 60px 0;
}

@media (min-width: 724px) and (max-width: 1140px) {
  section {
    padding: 40px 0;
  }
}

@media (max-width: 724px) {
  section {
    padding: 20px 0;
  }
}

.section-wrapper {
  width: $lg_width;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1140px) {
  .section-wrapper {
    width: 100%;
  }
}

.title {
  display: block;
  font-family: CenturyGothicRegular;
  color:  $text_color;
  font-size: 38px;
  font-weight: 400;
  margin: 15px auto;
  text-align: center;
}

.text-red {
  color: $red !important;
}

.btn-green {
  background-color:  $green;
  border-bottom: 3px solid $dark_green;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn-green:hover {
  background-color:  $green_hover;
  border-bottom: 3px solid $dark_green_hover;
}

.btn-blue {
  background-color:  $blue;
  border-bottom: 3px solid $dark_blue;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn-blue:hover {
  background-color:  $blue_hover;
  border-bottom: 3px solid $dark_blue_hover;
}

.btn-red {
  background-color:  $red;
  border-bottom: 3px solid $dark_red;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn-red:hover {
  background-color:  $red_hover;
  border-bottom: 3px solid $dark_red_hover;
}

.btn-white {
  background-color:  white;
  border-bottom: 3px solid #cecece;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn-white:hover {
  background-color:  #cecece;
  border-bottom: 3px solid #a2a0a0;
}


.btn-transparent {
  font-family: PTSansRegular;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 12px 20px;
  margin: 0 10px;
  background: none;
  border: 1px solid white;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn-transparent:hover {
  color: $green_hover;
  border: 1px solid $green_hover;
}

.btn-transparent-red {
  font-family: PTSansRegular;
  color: $red;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin: 0 10px;
  background: none;
  border: 1px solid $red;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn-transparent-red:hover {
  color: $red_hover;
  border: 1px solid $red_hover;
}

input {
  width: 267px;
  height: 51px;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  padding: 12px 15px;
  font-family: PTSansRegular;
  color:  #242424;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

input[type=submit] {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.triangle-grey {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 5.5px 0 5.5px;
  border-color: #5f5f5f transparent transparent transparent;
}

.search {
  border: none;
  border-radius: 3px;
  background-color:  #ffffff;
  width: 262px;
  height: 34px;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: right 6px top 7px;
  padding: 0 35px 0 10px;
}

@media (min-width: 1140px) {
  .current_page_item {
    position: relative;

    a {
      color: $green !important;
    }
  }

  .current_page_item:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 12px 0 12px;
    border-color: $dark_grey transparent transparent transparent;
    position: absolute;
    bottom: -15px;
    left: 40%;
  }
}